name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        distribution: "graalvm"
        java-version: "25"
        cache: "maven"

    - name: Build with Maven
      run: |
        mvn --version
        mvn -B package
